[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
python-git = "*"
djangorestframework = "*"
drf-nested-routers = "*"
django-filter = "*"
pillow = "*"
django-cors-headers = "*"
docker = "*"
django-templated-mail = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.9"
